#logo {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2),
        inset 0px 6px 5px rgba(255, 255, 255, 0.23);
}
.input_promo {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.sub_main_basket_right {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.sub_main_basket_left_empty {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.sub_game_block-allGames_span {
    left: 52px;
}

@media (max-width: 1897px) {
    .sub_main_basket_left {
        padding-bottom: 50px;
        margin-right: 0;
        border-radius: 20px 20px 0px 0px;
    }
    .sub_main_basket_right {
        width: 950px;
        margin-top: -15px;
        border-radius: 20px;
    }
    .sub_main_basket_left_empty {
        padding-bottom: 50px;
        margin-right: 0;
        border-radius: 20px 20px 20px 20px;
    }
    .sub_main_basket_right_empty {
        width: 950px;
        margin-top: -30px;
        border-radius: 20px;
    }
    .sub_main_basket_left_card_empty {
        height: 400px;
        margin-top: 200px;
    }
    .sub_main_basket_left_card_empty {
        right: 0;
        left: 0;
        margin-left: 0px;
    }
    .main_basket_1 {
        width: 950px;
    }
}

@media (max-width: 1279px) {
    .sub_main_basket_left_card_scrollBar {
        width: 5px;
        margin-right: 10px;
    }
    .sub_main_basket_left_card_scrollBar_band {
        width: 5px;
    }
    .sub_main_basket_left_solo_card_add_element {
        left: 15%;
    }
}

@media (max-width: 1030px) {
    .main_basket_1 {
        width: 85%;
    }
    .main_basket_1_active {
        padding: 10px !important;
    }
}

@media (max-width: 918px) {
    .sub_main_basket_left_sub_card {
        max-height: 796px;
    }
}

@media (max-width: 639px) {
    .sub_main_basket_left_solo_card_add_element {
        left: 10%;
    }
    .main_basket_1 {
        width: 100%;
    }
}

@media (max-width: 439px) {
    .payment_method_card {
        justify-content: center;
    }
    .payment_method_usdt {
        margin-right: 10px;
    }
}
